@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    background-color: #DFDFDE;
}
.container {
    display: flex;
    justify-content: flex-end;
}

.loader {
    width: 50%;
    margin: 300px auto;
    text-align: center;
}
.loader .loader_text {
    font-size: 3rem;
    font-weight: bold;
}

.movies {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}