@charset "utf-8";

.movie_data {
    width: calc(45% - 20px);
    height: 300px;
    margin-bottom: 50px;
    display: flex;

    background-color: #f9f9f9;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
    overflow: hidden;
}
.movie_data .poster img {
    height: 100%;
}

.movie_data .data {
    width: 100%;
    margin-left: 20px;
}
.movie_data .data .movie_year_genres {
    margin-bottom: 10px;
}
.movie_data .data .movie_year_genres .movie_genre {
    display: inline-block;
    margin-right: 5px;
}
.movie_data .data .movie_title {
    width: 90%;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.movie_data .data .movie_summary {
    width: 90%;
    height: 105px;
    margin-bottom: 10px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}